.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml

*.iml
themes/next/.idea/
themes/next/.vscode/
themes/next/yarn.lock
themes/next/package-lock.json
themes/next/node_modules/
themes/next/.nyc_output/
themes/next/coverage/

